<div class="flex justify-center m-5 bg-pokemonBlue">

  <div class="flex flex-col items-center border-4 border-pokemonNavyBlue w-full rounded h-5/6">
    <img src="assets/images/pngegg(1).png" class="object-contain h-24 object-center">

      <div class="w-full bg-pokemonYellow text-center flex flex-row">
        <button
          class="w-4/12 py-2 text-pokemonNavyBlue hover:text-pokemonBlue hover:bg-pokemonDarkRed border-r-2 border-pokemonNavyBlue flex flex-col items-center">
          <img class="h-14 p-2" src="assets/images/Pokebola-pokeball-png-0.png">
          <p>Pokedex</p>
        </button>
        <button
          class="w-4/12 py-2 text-pokemonNavyBlue hover:text-pokemonBlue hover:bg-pokemonDarkRed border-r-2 border-pokemonNavyBlue flex flex-col items-center">
          <img class="h-14 p-2" src="assets/images/PngItem_19590.png">
          <p>Teams</p>
        </button>
        <button
          class="w-4/12 py-2 text-pokemonNavyBlue hover:text-pokemonBlue hover:bg-pokemonDarkRed border-pokemonNavyBlue flex flex-col items-center">
          <img class="h-14 p-2" src="assets/images/Daco_4203200.png">
          <p>Trainers</p>
        </button>
      </div>

    <app-pokedex class="w-full p-2 m-2"></app-pokedex>

  </div>
</div>

