<div class="flex justify-center mx-5 mt-5 bgImg">

  <div class="flex flex-col items-center border-t-4 border-l-4 border-r-4 border-pokemonNavyBlue p-5 w-full rounded-t h-5/6">
    <img src="assets/images/pngegg(1).png" class="object-contain h-24 object-center" routerLink="/">

      <div class="w-screen bg-pokemonYellow text-center flex flex-row">
        <button routerLink="/"
          class="w-4/12 py-2 text-pokemonNavyBlue hover:text-pokemonBlue hover:bg-pokemonDarkRed border-r-2 border-pokemonNavyBlue flex flex-col items-center">
          <img class="h-14 p-2" src="assets/images/Pokebola-pokeball-png-0.png">
          <p>Pokedex</p>
        </button>
        <button routerLink="/teams"
          class="w-4/12 py-2 text-pokemonNavyBlue hover:text-pokemonBlue hover:bg-pokemonDarkRed border-r-2 border-pokemonNavyBlue flex flex-col items-center">
          <img class="h-14 p-2" src="assets/images/PngItem_19590.png">
          <p>Teams</p>
        </button>
        <button routerLink="/trainers"
          class="w-4/12 py-2 text-pokemonNavyBlue hover:text-pokemonBlue hover:bg-pokemonDarkRed border-pokemonNavyBlue flex flex-col items-center">
          <img class="h-14 p-2" src="assets/images/Daco_4203200.png">
          <p>Trainers</p>
        </button>
      </div>
  </div>
</div>

