<div>
  <app-pokesearch class="m-2"></app-pokesearch>
  <div class="grid sm:grid-cols-4 xl:grid-cols-6 grid-cols-2">
    <div class="m-2 h-full" *ngFor="let pokemon of pokemons; index as i">
      <button class="flex flex-col justify-center text-pokemonYellow w-full bg-pokemonNavyBlue hover:bg-pokemonYellow hover:text-pokemonRed rounded"
              (click)="showStats(i)">
        <img src="{{pokemon.sprites[0]}}">
        <p class="p-1">{{pokemon.name}}</p>
        <app-pokedex-card *ngIf="isActive[i]" [pokemon]="pokemon" [i]="i"></app-pokedex-card>
      </button>
    </div>
  </div>
  <div class="flex justify-center">
    <button class=" p-1" (click)="backwards()"><img class="w-10 h-10" src="assets/images/previous.svg"></button>
    <button class=" p-1" (click)="forward()"><img class="w-10" src="assets/images/next.svg"></button>
  </div>
</div>
