<h1>Pokemon Trainers</h1>
<br>
<button (click)='findTrainers()' class="bg-purple-600 bg-opacity-75 text-white">Get Trainers</button>
<br>
<hr>
<br>

<form (ngSubmit)="createNewTrainer()" #form="ngForm" class="grid grid-cols-1 mx-5 mt-5">
  <label for="trainerName" class="mt-3">Trainer Name</label>
  <input type="text" required [placeholder]="getPlaceHolder()" [(ngModel)]="inputTrainerName" name="inputTrainerName">

  <label for="trainerAge" class="mt-3">Trainer Birthday</label>
  <input type="date" required ngModel [(ngModel)]="inputTrainerDOB" name="inputTrainerDOB">

  <label for="traierHobby" class="mt-3">Trainer Hobby</label>
  <input type="text" [placeholder]="getPlaceHolder2()" [(ngModel)]="inputTrainerHobby" name="inputTrainerHobby">

  <label for="pictureUrl" class="mt-3">Upload your profile picture</label>
  <input type='file' (change)="readUrl($event)" [(ngModel)]="inputPictureUrl" name="inputPictureUrl">

  <button type="submit" [disabled]="form.invalid" class="btn border-gray-400 rounded">Create Trainer</button>
</form>

<br>
<hr>
<br>
<h2 class="mt-5">Trainers: </h2>
<div *ngFor="let trainer of trainerList let i = index">
  <p> {{i+1}} - {{trainer.name}} </p>
</div>

<div>
  <app-trainer-card *ngFor="let trainer of trainerList; let i = index" [trainer]="trainer" [trainerId]="trainer.id"
    (deleteTrainerEvent)="delete($event)"></app-trainer-card>
</div>
