<h1>Pokemon Trainers</h1>

<input type="text" [placeholder]="getPlaceHolder()" [(ngModel)]="trainerName">
<input type="text" [(ngModel)]="trainerAge">
<input type="text" [placeholder]="getPlaceHolder2()" [(ngModel)]="trainerHobby">


<button (click)='findTrainer()'>Get Trainers</button>
<div *ngFor="let trainer of trainerList let i = index">
    <p> {{i+1}} {{trainer.name}} </p>
</div>

<button (click)="createNewTrainer()">Create Trainer</button>
<div> 
  <app-trainer-card *ngFor="let trainer of trainerList; let i = index" [trainer]="trainer" [trainerId]="trainer.id" (deleteTrainerEvent)="delete($event)"></app-trainer-card>
</div>

