<div class="flex flex-wrap justify-center">
    <div class="w-full md:w-5/12 text-center">
      <select name="trainer" [(ngModel)]="trainerSelected" required class="w-full md:w-8/12 p-2">
        <option value="-1" disabled selected>Select a trainer</option>
        <option value={{trainer.id}} *ngFor="let trainer of trainersList, let i = index">{{trainer.name}}</option>
      </select>
    </div>

    <div class="w-full md:w-5/12 mb-5 input-pokemon">
      <ng-autocomplete
        [data]="pokemonData"
        [searchKeyword]="pokemonKeyword"
        (selected)='selectEvent($event)'
        (inputChanged)='onChangeSearch($event)'
        (inputFocused)='onFocused($event)'
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate"
        placeholder="Type the name of a Pokemon">
      </ng-autocomplete>

      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
      </ng-template>

      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>

    <div class="w-8/12 sm:w-4/12 flex justify-center align-middle p-2 m-2 bg-pokemonYellow rounded">
      <button class="bg-pokemonYellow rounded w-full text-white font-bold" (click)="onSubmit()">Add Pokemon!</button>
    </div>
  </div>
