<div class="bg-white hover:bg-pokemonYellow p-2 rounded p-2 m-2 w-full" *ngIf="item.pokemonList.length > 0">
  <div class="trainer">
    <div class="flex flex-col items-center justify-center m-2 p-2">
      <img [src]="item.pictureUrl" alt="trainer-pic" class="rounded-full items-center justify-center">
      <p>{{item.name}}</p>
    </div>
    <div id="trainer-info" class="align-middle items-start m-2 p-2">
      <p>Age: {{getAge(item.birthDate)}}</p>
      <p>Hobby: {{item.hobby}}</p>
      <button (click)="showPokemons()">Show Pokemons</button>
    </div>
  </div>
  <div *ngIf="areShown">

    <div *ngFor="let pok of item.pokemonList, let h=index">
      <div class="grid grid-cols-2 gap-3 pokemon">{{ getName(pok) }}
        <div id="pokemon-info" class="align-middle">
          <h2>Pokemon</h2>
          <p>Name: <span>{{pokemon.name}}</span></p>
          <p>Height: {{pokemon.height}}</p>
          <p>Weight: {{pokemon.weight}}</p>
          <p>Base experience: {{pokemon.baseExperience}}</p>
          <p>Held items: {{pokemon.heldItemsQty}}</p>
          <p>Basic stats: {{getBasicStats(pokemon.stats)}}</p>
        </div>
        <div class="grid grid-rows-2 gap-2">
          <img src={{pokemon.pictureFront}} alt="pokemon">
          <button (click)="removePokemonFromTrainer(item.id, pokemon.pokemonId)"
                  class="bg-pokemonYellow rounded w-2/12">Remove
          </button>
        </div>
      </div>
    </div>
  </div>

  <div>
  </div>
</div>
